*{
    margin: 0;
    padding: 0;
}

.container{
    width: 30%;
    overflow: hidden;
    margin: auto;
    background-color: lightgoldenrodyellow;
    padding: 10vh 0 10vh 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content p{
    width: 90%;
    height: 10vh;
    background-color: lightblue;
    align-content: center;
    font-weight: bold;
    margin: 10vh 0 10vh 0;
}

span{
    font-size: x-large;
}

button{
    width: 150px;
    height: 150px;
    border: 2px solid darkred;
    border-top-color: crimson;
    border-left-color: crimson;
    border-radius: 50%;
    background-color: red;
    font-size: large;
    font-weight: bold;
}